*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .mulish-mulish {
    font-family: "Mulish";
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
    color: #FFF;

font-size: 78px;
font-style: normal;
font-weight: 400;
line-height: 120%;
  }

  .menu{
    display: none;
  }
  body{
    background-color: black;
    color: white;
  }
  .navber{color: #E6533C;
    
font-family: Inter;
font-size: 36px;
font-style: italic;
font-weight: 800;
line-height: 120%; 
  }
  header{
    max-width: 80%;
    margin: 0 auto;
  }
  nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }
  .nav-right{
   display:  flex;
   align-items: center;
   border:  1px solid rgba(232, 226, 213, 0.437);
   border-radius:100px;
   padding: 10px;
  
  }
  .bg{
    color: #E6533C;

   font-family: Inter;
   font-size:72px;
  font-style: italic;
  font-weight: 800;

  }
  nav p{
    font-size: 18px;
   font-style: normal;
   font-weight: 400;
  }
  .nav-right p{
    margin-right: 20px;
  }
  .banner{
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
    display: flex;

  }
  .banner-left{
    display: flex;
    justify-items: center;
    align-items: center;
    /* max-width: 50%; */
  }
  .h{
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
  }
  
  .btn{
    padding: 16px 40px;
    background-color: #E6533C;
    border-radius: 42px;
    color: white;
    border: none;
    margin-top: 10px;
  }
  .banner-right{

 
    
    background-image: url(images/Images\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    
   }
   .banner-right img{
    padding-left: 10%;
  }  
   .a{ 
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    margin: 10% 0 ;
    margin-left: 50%;
    
  }
  .b{ 
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    /* margin-bottom: 0%; */
    margin-top: 300px;
  } 

  main{
    margin-top: 50px;
  }
  .sec1{
   display: flex;
   justify-content: center;
   text-align: center;
  }
  .sec2{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 5px;
    justify-content: space-around;
  }
  .a ,.b{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .a-a,.b-b{
    text-align: center;
    margin-bottom: 10px;
  }
  .b-b-b{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .circle{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #e00505;
  }
  .sec2 img{
    width: 172px;
  height: 172px;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  }
  .sec3{
    border-radius: 18px;
    background: #222;
   display: flex;
   padding: 30px 32px 29px 54px;
   width: 80%;
   margin: 0 auto;
   align-items: center;

  }
  .sec3 img{
    width: 366px;
    height: 312px;
   
  }
  .sec4{
    max-width: 80%;
    margin: 0 auto;

  }
  .sec5{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
 background: #222;
 padding: 20px;
 border-radius: 5px;
  }
  .sec5 img{
    height: 218px;
    width: 100%;
    
  }
  .sec5-top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
  }
  
  .sec5-btm{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }
  .sec6{
   
    max-width: 60%;
    margin: 50px auto;
  }
  .sec7{
    background: #222;
  }
  table{
    border-collapse: collapse;
  }
  table,th,td{
    border: 1px solid white;
  }
  .sec7>div{
    max-width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  .sec7a{
    display: flex;
    justify-content: space-around;
  }
  .input{
    height: 40px;
    width: 50%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
  }
  .col{
    color: rgba(255, 255, 255, 0.50);


font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
letter-spacing: 0.3px;
  }

  .sec7-input1{
   display: flex;
   gap: 10px;
  }
  .sec7-input2{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    color: white;
   }
   #select{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 5px;
    border: none;
    margin-top: 10px;
   }
   option{
    color: white;
   }
   .sec8{
      max-width: 80%;
      margin: 0 auto;
   }
   .sec8 img{
    height: 270px;
    width: 100%;
   }
   .sec8a{
    text-align: center;
    margin-top: 20px;
   }
   .sec8b{
    background: #222;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10Px;
   }
   footer{
    background: #222;
    margin-top: 100px;
   }
   .foot{
    padding: 100px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
   }
  
   .foot-left,.foot-right{
    width: 50%;
   }
   .line{
    margin-top: 10px;
    width: 80%;
    background-color:rgba(255, 255, 255, 0.412);
    height: 1px;
    margin: auto;
   }
   .last{
     display: flex;
     justify-content: center;
     background: #222;
     color: rgba(251, 242, 242, 0.5);
    
   }
 .last h1{
  font-size: 20px;
  padding: 30px;
 }
 .sec9{
 
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
   
 }
 .head{
  max-width: 80%;
  margin: 30px auto;
  text-align: center;
  display:  flex;
  justify-content: center;
  font-size: 50px;
 }
 .big{
  height: 200px;
  width: 200px;
  background: #fffefe;
  border:10px solid red ;
  border-radius: 100%;
  color: #111;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin: auto;

 }
 .sec9a{
  margin: auto;
  text-align: center;
  align-items: center;
  
 }
 





  @media screen and (max-width:567px) {
    .banner{ flex-direction: column;}
    .banner-left{
      width: 100%;}

    .banner-right{
      width: 100%;
    }
    .h{
      font-size: 3rem;
    }
    
    .sec2{
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .sec3{
      flex-direction: column;
      gap: 50px;
    }
    .sec4{
      text-align: center;
    }
    .sec5-top{
      grid-template-columns: repeat(1,1fr);
    }
    .sec5-btm{
      grid-template-columns: repeat(1,1fr);
    }
    .sec7a{
      flex-direction: column;
    }
    .sec8b{
      grid-template-columns:repeat(1,1fr)  
      }
      .foot{
        flex-direction: column;  
        padding: 50px;
      }
      .nav-right{
        display: none;
      }
      .menu{
        display:block;
      }
      .last h1{
       margin: auto;
       font-size: 20px;
        
   }
   .sec9{
    flex-direction: column;
   }
   .head{
    margin: auto;
   }
  }